<body>

	<link rel="stylesheet" href="../css/DetalleAlojamiento.css">

	<div class="container mb-5 pagina">
		<!-- Primera Row principal -->
		<div class="row" id="PrimeraColIzq">

			<!-- Columna principal de la derecha -->
			<div class="col-12">
				<div class="row ms-1 ">
					<div class="col-10 ">
						<!-- 						<div> -->
						<!-- 							<%-- Valoracion ESTRELLAS --%> -->
						<!-- 							<c:set var="estrellaEntera" -->
						<!-- 								value="${fn:split(property.gradesAverage, '.')[0]}" /> -->
						<!-- 							<c:set var="estrellaMedia" -->
						<!-- 								value="${fn:split(property.gradesAverage, '.')[1]}" /> -->
						<!-- 							<%-- Itera sobre la parte entera --%> -->
						<!-- 							<c:forEach var="i" begin="1" end="${estrellaEntera}"> -->
						<!-- 								<i class="fas fa-star" -->
						<!-- 									style="color: #b8b814; position: relative; top: -0.5em;"></i> -->
						<!-- 							</c:forEach> -->
						<!-- 							<%-- Verifica si hay una parte decimal --%> -->
						<!-- 							<c:if test="${not empty estrellaMedia}"> -->

						<!-- 								<%-- Si la parte decimal es .5, añade una estrella media --%> -->
						<!-- 								<c:if test="${estrellaMedia ge '5'}"> -->
						<!-- 									<i class="fas fa-star-half-alt" -->
						<!-- 										style="color: #b8b814; position: relative; top: -0.5em;"></i> -->
						<!-- 								</c:if> -->


						<!-- 							</c:if> -->
						<!-- 						</div> -->
						<h4 class="negrita">{{propertyVM.property.name}}</h4>
						<div class="d-flex align-items-center">
							<i class="fa-solid fa-location-dot"></i> <span>
								{{propertyVM.property.address}}</span> <i
								class="fa-solid fa-phone ms-2 me-2"></i> <span>{{propertyVM.property.telephone}}</span>
						</div>

						<i class="fa-solid fa-location-dot"></i> <span>A
							{{propertyVM.property.centerDistance}} kms del centro</span>

					</div>

				</div>

				<div class="row ms-1">
					<div class="col-4">
						<img class="img-fluid mb-3"
							src="../images/DetalleAlojamiento1.png"
							alt="habitación alojamiento Palacio de Oquendo"> <img
							class="img-fluid" src="../images/DetalleAlojamiento2.png"
							alt="interior alojamiento Palacio de Oquendo">
					</div>
					<div class="col-8">
						<div class="position-relative">
							<img class="img-fluid" src="../images/DetalleAlojamiento3.png"
								alt="fachada alojamiento Palacio de Oquendo">
							<div class="col-6 offset-8 textoEnImagen mt-3">
								<div class="row bg-light textoEnImagenRow">
									<div class="col-3">
										<p
											class="bg-primary text-light px-1 mt-1 rounded fw-bold puntuacionMedia">{{propertyVM.property.gradesAverage}}</p>
									</div>
									<div class="col-8 text-end puntuacionTexto pt-2">
										<div data-ng-show="propertyVM.property.gradesAverage >= 4">
											<b>Fabuloso</b> <br>
										</div>
										<div
											data-ng-show="propertyVM.property.gradesAverage >= 2.5 && propertyVM.property.gradesAverage < 4">
											<b>Aceptable</b> <br>
										</div>
										<div data-ng-show="propertyVM.property.gradesAverage < 2.5">
											<b>Regular</b> <br>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="row ms-1 mt-2">
						<div class="col-3">
							<img class="img-fluid" src="../images/DetalleAlojamiento8.png"
								alt="entrada alojamiento Palacio de Oquendo">
						</div>
						<div class="col-3">
							<img class="img-fluid" src="../images/DetalleAlojamiento5.png"
								alt="cuarto de baño alojamiento Palacio de Oquendo">
						</div>
						<div class="col-3">
							<img class="img-fluid" src="../images/DetalleAlojamiento6.png"
								alt="habitación alojamiento Palacio de Oquendo">
						</div>
						<div class="col-3">
							<img class="img-fluid" src="../images/DetalleAlojamiento7.png"
								alt="fachada alojamiento Palacio de Oquendo">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Termina la row principal de la izquierda -->

		<div class="container mt-3">
			<div class="row">
				<div class="col-2"
					data-ng-repeat="service in propertyVM.servicesChecked">
					<div data-ng-show="$index % 4 === 0">
						<div class="mb-1"></div>
					</div>
					<div class="col border me-2 py-2 ps-2 mb-2">
						<i class="{{service.icon}}"></i> <span>{{service.name}}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mt-3">
				<p class="texto-default">{{propertyVM.property.description}}</p>

			</div>
			<!-- Termina col-8 (texto) -->


		</div>
		<!-- Termina la segunda row principal (texto y bg azul)-->


		<!-- 			<c:if test="${empty user.name}"> -->
		<!-- 				<div class="row border my-5 py-3"> -->
		<!-- 					<div class="col-10 mt-2"> -->
		<!-- 						<p class="negrita fs-5">Inicia sesión y ahorra</p> -->
		<!-- 						<p>Podrías ahorrar un 20% o más en este alojamiento al iniciar -->
		<!-- 							sesión.</p> -->
		<!-- 						<div class="row"> -->
		<!-- 							<div class="col-2"> -->
		<!-- 								<a href="../inicioSesion/index.html"> -->
		<!-- 								    <button class="btn btn-light border border-3 text-primary">Inicia sesión</button> -->
		<!-- 								</a> -->

		<!-- 								<a href="../inicioSesion/index.html" -->
		<!-- 									class="btn btn-light text-primary border border-3"> Inicia -->
		<!-- 									sesión </a> -->
		<!-- 							</div> -->
		<!-- 							<div class="col-2 mt-2"> -->
		<!-- 								<a href="../Registro/index.html">Hazte una cuenta</a> -->
		<!-- 							</div> -->
		<!-- 						</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="col-2"> -->
		<!-- 						<img src="images/DetalleAlojamiento10.png" class="img-fluid" -->
		<!-- 							alt="ahorro por iniciar sesión"> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</c:if> -->




		<!-- Tabla disponibilidad -->
		 <div class="container-fluid">
    <form data-ng-submit="propertyVM.functions.crearReservaProvisional()">
        <table class="table border">
            <thead class=" bg-primary">
                <tr>
                    <th class="text-light negrita border py-3 col-4">Tipo de alojamiento</th>
                    <th class="text-light negrita border py-3 col-3">Precio de la habitación</th>
                    <th class="text-light negrita border py-3">Seleccionar habitaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="accommodation in propertyVM.accommodations">
                    <td class="col-5">
                        <p>
                            <span class="negrita azul">{{accommodation.name}}</span>
                        </p>
                        <p class="texto-default">{{accommodation.description}}</p>
                        <div data-ng-show="accommodation.numAccommodations === 0">
                            <p class="rojo negrita texto-default">No quedan habitaciones en nuestra web</p>
                        </div>
                        <div data-ng-show="accommodation.numAccommodations > 1">
                            <p class="verde negrita texto-default">Quedan {{key.numAccommodations}} habitaciones en nuestra web</p>
                        </div>
                        <div data-ng-show="accommodation.numAccommodations === 1">
                            <p class="text-warning negrita texto-default">Solo queda 1 habitación en nuestra web!</p>
                        </div>
                        <div class="container-fluid mt-3 border-2">
                            <div class="row d-inline-flex align-items-center">
                                <div data-ng-repeat="service in propertyVM.servicesChecked">
                                    <div class="col-auto">
                                        <i class="fa-solid fa-check verde"></i> <span class="texto-default">{{service.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="item-align-center"><span class="negrita">€ {{accommodation.price}}</span> <span class="texto-default">Incluye impuestos y cargos</span></td>
                    <td><input type="number" name="cantidad" min="0" max="{{accommodation.numAccommodations}}" step="1" data-ng-model="propertyVM.accommodationsSelected[accommodation.id]" class="mt-2"></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <input type="submit" class="btn btn-primary border-0 text-truncate" id="Reservar" value="Reservar">
        </div>
    </form>
</div>

		<!-- finaliza la tabla de disponibilidad

		<!-- Verificar si el usuario actual es propietario de la propiedad -->
		<div data-ng-show="propertyVM.property.idu !== propertyVM.user.id">
			<div class="row justify-content-center mt-5">
				<div class="col">
					<div class="card miOpinion">
						<div class="card-header">Deja tu opinión</div>
						<div class="card-body">
							<form data-ng-submit="propertyVM.functions.reviewHandlerMethod()">
								<div class="form-group row">
									<label for="grade"
										class="col-md-3 col-form-label text-md-right">Calificación</label>
									<div class="col-9">
										<select id="grade" name="grade" class="form-control"
											data-ng-model="propertyVM.myOpinion.grade">
											<option value="1"
												data-ng-selected="propertyVM.myOpinion.grade === 1">1</option>
											<option value="2"
												data-ng-selected="propertyVM.myOpinion.grade === 2">2</option>
											<option value="3"
												data-ng-selected="propertyVM.myOpinion.grade === 3">3</option>
											<option value="4"
												data-ng-selected="propertyVM.myOpinion.grade === 4">4</option>
											<option value="5"
												data-ng-selected="propertyVM.myOpinion.grade === 5">5</option>
										</select>
									</div>
								</div>
								<div class="form-group row mt-2">
									<label for="comment"
										class="col-md-3 col-form-label text-md-right">Comentario</label>
									<div class="col-md-9">
										<textarea id="comment" name="comment" class="form-control"
											placeholder="Escribe tu comentario aquí" rows="4"
											data-ng-model="propertyVM.myOpinion.review"></textarea>
									</div>
								</div>
								<div class="form-group row mt-2">
									<div class="offset-md-3">
										<button id="submitButton" type="submit"
											class="btn btn-primary col-4" value="Modificar review"
											data-ng-show="propertyVM.yaValorada">Modificar
											Review</button>
										<button id="submitButton" type="submit"
											class="btn btn-primary col-4" value="Enviar review"
											data-ng-hide="propertyVM.yaValorada">Enviar Review</button>

										<button type="button" class="btn btn-link ms-2 col-1"
											data-ng-click="propertyVM.functions.deleteOpinion()">
											<i class="fa fa-trash text-danger"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>




		<!-- Mostrar opiniones existentes -->
		<h3>Opiniones de otros usuarios</h3>
		<div class="row mt-5">
			<div class="col">
				<div class="opiniones mt-2"
					data-ng-repeat="review in propertyVM.otherOpinions">
					<div class="card mb-3">
						<div class="card-header">Usuario: {{ review.value }}</div>
						<div class="card-body">
							<h5 class="card-title">Calificación: {{ review.key.grade }}</h5>
							<p class="card-text">Comentario: {{ review.key.review }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function eliminar(seBorra) {
			// Crea un formulario oculto
			var form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", "ReviewServlet.do");

			var inputId = document.createElement("input");
			inputId.setAttribute("type", "hidden");
			inputId.setAttribute("name", "idPropertyReviewed");
			inputId.setAttribute("value", "${property.id}");
			form.appendChild(inputId);

			// Crea un campo oculto para indicar si se debe eliminar la habitación
			var inputEliminar = document.createElement("input");
			inputEliminar.setAttribute("type", "hidden");
			inputEliminar.setAttribute("name", "seBorra");
			inputEliminar.setAttribute("value", seBorra);
			form.appendChild(inputEliminar);

			// Agrega el formulario al cuerpo del documento y envíalo
			document.body.appendChild(form);
			form.submit();
		}
	</script>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>